<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>FoodR</title>
    
    <!--set icon to custon image-->
    <link rel="icon" href="appIcon.png">
    
    <!--import font from google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Changa+One" rel="stylesheet">

    <!--import custom css-->
    <link rel="stylesheet" href="main.css">

    <!--development version of vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--import bootstrap-->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

    <!--import jquery-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!--bootstrap vue-->
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    
    <!--import google maps with callback function to get location initially-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtavAkD7MAfICWIMuXrRPhlnLXSK4Q2iM&callback=app.getLocation" async defer></script>

</head>

<body>
    <div id="root">
        <h1>FoodR</h1>
        <div id="map" style="width:100%;height:400px;"></div>
        <div id="inputAndButton">
            <p>Enter zipcode to search for a restaurant</p>
            <b-input-group prepend="Zipcode">
                <b-form-input type="text" v-model="userZip"></b-form-input>
                <b-input-group-append>
                    <b-btn id="searchButton" variant="outline-success" @click=search>Search</b-btn>
                </b-input-group-append>
            </b-input-group>
        </div>



        <div id="results">
            <restaurant-name v-for="r in result.restaurants" v-bind:name="r.name" v-bind:address="r.address" v-bind:reserve_link="r.reserve_url" v-bind:key="r.name"></restaurant-name>
        </div>

        <main-footer v-bind:year="copyrightYear" v-bind:name="copyrightName"></main-footer>

    </div>

    <script>
        //VUE Component
        Vue.component('restaurant-name', {
            props: ['name', 'address', 'reserve_link'],
            template: '<b-list-group-item> <span id="test">{{ name }} </span><br> {{ address }} <br> {{ reserve_link }}</b-list-group-item>'
        });

        Vue.component('main-footer', {
            props: ['year', 'name'],
            template: `<footer class="muted" style="text-align:center">
		   &copy; {{ year }} {{ name }}
		   </footer>`
        });

        //ES6 Class for Testing
        class Restaurant {
            constructor(userZip) {
                this.zip = userZip; // calls setter
            }
            get zip() {
                return this._zip;
            }
            set zip(userZip) {
                // truncate newName if it's too long
                if (userZip.length > this.constructor.maxLength) {
                    userZip = userZip.slice(0, this.constructor.maxNameLength);
                }
                this._zip = userZip;
            }
        }
        Restaurant.maxLength = 5; // a class variable

        //VUE
        var app = new Vue({
            el: '#root',
            data: {
                copyrightName: "Claire Koval",
                copyrightYear: "2018",

                userZip: "",
                result: {
                    restaurants: [{
                        name: "Loading...",
                        address: "Loading...",
                        reserve_link: "Loading..."
                    }],
                    infoWindow: ""
                }
            },
            methods: {
                search() {
                    if (this.userZip == "") {
                        this.userZip = 14623;
                        alert("Please input a valid zipcode. Defaulting to Henrietta, NY");
                    }
                    let link = "http://opentable.herokuapp.com/api/restaurants?zip=" + this.userZip;
                    console.log(link);
                    fetch(link)
                        // callback function - 2 chained callbacks total
                        .then(response => { // response property
                            if (!response.ok) { // we want the ok property to throw an error if the response is bad
                                throw Error(`ERROR: ${response.statusText}`);
                            }
                            // if it's good, return the json we got back
                            return response.json();
                        })
                        // goes to this json if everything works?
                        .then(json => {
                            console.log(json); // logging out the results
                            this.result = json;
                            this.restaurants = this.result.restaurants;
                            let r;

                            for (r = 0; r < this.result.restaurants.length; r++) {
                                console.log(this.result.restaurants[r].name);
                                console.log(this.result.restaurants[r].address);


                                var closeRestaurant = this.result.restaurants[r];


                                var lat = closeRestaurant.lat;
                                var long = closeRestaurant.lng;
                                var title = closeRestaurant.name;
                                addMarker(lat, long, title);
                            }
                            function addMarker(latitude, longitude, title) {
                                let position = {
                                    lat: latitude,
                                    lng: longitude
                                };
                                let marker = new google.maps.Marker({
                                    position: position,
                                    map: map
                                });
                                marker.setTitle(title);

                                //add a listener for the click event
                                google.maps.event.addListener(marker, 'click', function(e) {
                                    makeInfoWindow(this.position, this.title);
                                })
                            }

                            function makeInfoWindow(position, msg) {
                                //Close old infowindow if it exists
                                if (this.infowindow) this.infowindow.close();

                                this.infowindow = new google.maps.InfoWindow({
                                    map: map,
                                    position: position,
                                    content: "<b>" + msg + "</b>"
                                })
                            }

                        })
                },
                myMap(userLat, userLng) {
                    const userLoc = new google.maps.LatLng(userLat, userLng);
                    const mapProp = {
                        center: userLoc,
                        zoom: 8,
                    };
                    map = new google.maps.Map(document.getElementById("map"), mapProp);
                    const marker = new google.maps.Marker({
                        position: {
                            lat: userLat,
                            lng: userLng
                        },
                        map,
                        title: 'You are here!'
                    });
                },
                //Get user location and show pin if enabled
                getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(app.showPosition);
                    } else {
                        window.alert("Geolocation is not supported by this browser.");
                    }
                },
                showPosition(position) {
                    console.log(`Latitude: ${position.coords.latitude}`);
                    console.log(`Longitude: ${position.coords.longitude}`);
                    app.myMap(position.coords.latitude, position.coords.longitude);
                }
            }
        });
    </script>
</body>

</html>